* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f7;
    
    

}

body h1,
h2 {
    font-family: comfortaa;
    color: #39B54A;

}


@font-face {
    font-family: comfortaa;
    src: url(fonts/Comfortaa_Thin.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-Regular.otf);
}


body p {
    font-family: montserrat;
    color: black;
    margin-top: 4%;
}

header {
    font-family: montserrat;
    font-size: 85%;
    text-align: center;
    background-color: white;
    position: fixed;
    padding: 3%;
    width: 100%;
    z-index: 2;
}

nav {
    background-color: white;

}

ul {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    list-style-type: none;


}

a {
    color: #39B54A;
    text-decoration: none;
}

main {
    margin-top: 30%;
}


article {
    text-align: center;
    background-color: white;
    border: solid 2px #39B54A;
    border-radius: 10px;
    width: 70%;
    margin: 10% 15%;
    padding: 15px;
    box-shadow: 10px 10px 5px gray;
    
  

}

article p{
    margin-bottom: 5%;
}

.tekst{
    margin-top: 7%;
    margin-bottom: 13%;
    opacity: .75;
    
   
   
}

article p a{
    background-color: #39B54A;
    border: none;
    border-radius: 15px;
    padding: 4%;
    color: white;
   
}

